body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.participantes {
  background-color: white;
  color: #010b16;
  margin-top: 3.2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 10px;
}

.relatorios {
  background-color: white;
  color: #010b16;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 10px;
  margin-top: 3%;
}

h3 {
  color: white;
  background-color: #033665;
  text-align: center;
}

button {
  background-color: #033665;
  color: white;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 115px;
}

button:hover {
  background-color: #ffff;
  color: #010b16;
}

.botao {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3.3%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

p button {
  background-color: #033665;
  color: white;
  text-decoration: none;
  height: 35px;
  border: none;
  cursor: pointer;
  float: right;
  margin: auto;
  margin-right: 5%;
}

p button:hover {
  background-color: #010b16;
  color: #ffff;
}

/*Negrito*/
span {
  font-weight: bold;
}
