body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.login {
  background-color: #033665;
  color: #ffff;
  width: auto;
  width: auto;
  padding: 30px 50px 100px;
  flex: 1;
  margin: 2.2% 25%;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3::before {
  margin-bottom: 5px;
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ffff;
}

button {
  color: #ffff;
  background-color: #010b16;
  width: 130px;
  height: 35px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #ffff;
  color: #010b16;
}

.botoes {
  display: flex;
  margin-top: 65px;
  margin-bottom: 30px;
  gap: 95px;
}

/* Estilização da imagem */

 figure img {
  width: 52%;
  margin: 0px;
  margin-left: 23.4%;
  border: 8px solid white;
}

/* Estilização sobre */
.sobre {
  color: white;
  background-color: #033665;
  padding-bottom: 0.1%;
  align-items: left;
  margin-left: 25%;
  width: 46%;
  padding: 2%;
}