body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Título Cadastro*/
h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3::before {
  margin-bottom: 5px;
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ffff;
}

/* Estilização da mensagem de erro */
.error {
  color: rgb(255, 51, 51);
  font-size: 13px;
}

/*Estilizações do bloco*/
.cadastro {
  background-color: #033665;
  color: #ffff;
  width: auto;
  width: auto;
  padding: 30px 50px 50px;
  flex: 1;
  margin: 2.2% 25%;
}

.blocos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/*Botão*/
input[type=submit] {
  color: #ffff;
  background-color: #010b16;
  width: 130px;
  height: 35px;
  border: none;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #ffff;
  color: #010b16;
}

/*Caixas de texto*/
.box {
  padding: 7px;
  width: 65%;
  border: none;
  outline: none;
  margin-top: 7px;
  margin-bottom: 7px;
}

/*Estilizações úteis a mais de uma pag*/
.fotodeperfil {
  background-color: #010b16;
  color: #ffff;
  padding: 3%;
  cursor: pointer;
}

.fotodeperfil:hover {
  background-color: #ffff;
  color: #010b16;
}

input[type="file"] {
  display: none;
}
