body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estlização do bloco de informações*/
.informacoes {
  color: #010b16;
  background-color: white;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  padding-bottom: 0.1%;
}

.informacoes h3 {
  text-align: center;
  color: white;
  background-color: #033665;
}

.informacoes p {
  font-size: 14px;
}

.informacoes button {
  background-color: #033665;
  color: white;
  text-decoration: none;
  height: 35px;
  border: none;
  margin-left: 30px;
  margin-bottom: 20px;
}

.informacoes button:hover {
  cursor: pointer;
  background-color: #010b16;
}

/*Detalhes em negrito*/
span {
  font-weight: bold;
}

/*Estilização bloco de relatório*/
.relatorio {
  background-color: #033665;
  color: #ffff;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  padding: 34px;
  padding-top: 3px;
  width: 45%;
  height: 220px;
}

.relatorio h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.relatorio h3::before {
  margin-bottom: 5px;
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ffff;
}

.box {
  width: 55px;
  padding: 5px;
  border: none;
  outline: none;
  margin-top: 7px;
}

.relatorio button {
  color: #ffff;
  background-color: #010b16;
  width: 80px;
  height: 35px;
  border: none;
  text-decoration: none;
}

.relatorio button:hover {
  cursor: pointer;
  background-color: #ffff;
  color: #010b16;
}
