body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Caixa de pesquisa*/
.busca {
  margin-left: 25%;
  background-color: #ffff;
  width: 50%;
  height: 5%;
}

.busca img {
  width: 25px;
  float: left;
}

.box {
  border: none;
  outline: none;
  float: left;
  font-size: medium;
  margin-top: 1%;
}

.botaobusca {
  margin-left: 54.2%;
  position: relative;
  left: 2%;
}

/* Estilização do bloco de extensões. */
h3 {
  text-align: center;
  color: white;
  background-color: #033665;
  margin-top: 0%;
}

.ativas,
.concluidas {
  color: #010b16;
  background-color: white;
  min-height: 400px;
  height: auto;
  width: 100%;
  padding-bottom: 0.1%;
  align-items: left;
}

.extensoes button {
  width: 100px;
}

.responsavel {
  font-size: small;
}

button {
  background-color: #033665;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 35px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #010b16;
}

/*Detalhes em negrito*/
span {
  font-weight: bold;
}

/*Posicionamento*/
.extensoes {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
  justify-content: space-between;
}
