body {
    background-color: #010b16;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.dados{
    margin-top: 3%;
    margin-bottom: 3.3%;
    background-color: #033665;
    color: white;
    padding: 30px;
    position: relative;
    width: 45.75%;
    margin-left: 25%;
}

.extensoes{
    background-color: white;
    color: white;
    padding: 54px;
    position: relative;
    width: 42%;
    margin-left: 25%;
}

input[type=submit] {
    color: #ffff;
    background-color: #010b16;
    width: 130px;
    height: 35px;
    border: none;
  }
  
input[type=submit]:hover {
    cursor: pointer;
    background-color: #ffff;
    color: #010b16;
}

h3::before {
    margin-bottom: 5px;
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #ffff;
}

h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.box {
    padding: 8px;
    border: none;
    outline: none;
}

.blocos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.cabecalho {
    background-color: #033665;
    color: #ffff;
}

.error {
    color: rgb(255, 51, 51);
    font-size: 13px;
  }