body {
  background-color: #010b16;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  background-color: #033665;
  color: #ffff;
}

button {
  color: white;
  background-color: #033665;
  width: 120px;
  height: 40px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #010b16;
  border: none;
}

.extensoes {
  background-color: white;
  color: #010b16;
  position: relative;
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 3.3%;
  min-height: 400px;
}

.letrag {
  font-size: medium;
}

.letrag input[type="submit"] {
  float: right;
  margin: auto;
  margin-right: 5%;
}

.letrap {
  font-size: small;
}

h3 {
  color: white;
  background-color: #033665;
  text-align: center;
}

span {
  font-weight: bold;
  font-size: small;
}

.botoes {
  margin-top: 2%;
  margin-left: 25%;
  display: flex;
  gap: 56%;
  margin-bottom: 5%;
  margin-right: 25%;
}

input[type="submit"] {
  background-color: #033665;
  color: white;
  text-decoration: none;
  height: 35px;
  border: none;
  cursor: pointer;
  float: right;
  margin: auto;
  margin-right: 5%;
  margin-top: -9%;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #010b16;
  color: white;
  border: none;
}

.incluir {
  background-color: #033665;
  color: white;
  text-decoration: none;
  height: 35px;
  border: none;
  cursor: pointer;
  float: left;
  margin: auto;
}

.incluir:hover {
  cursor: pointer;
  background-color: #010b16;
  color: white;
  border: none;
}
